@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* липкий футер */
  html,
  body {
    height: 100%;
  }

  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }

  footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  /* конец липкого футера */

  h1,
  h2,
  h3,
  h4 {
    @apply font-press;
  }

  h1 {
    @apply text-7xl leading-[90px] xxl:text-6xl xxl:leading-[65px] xl:text-[54px] lg:text-[40px] lg:leading-[50px] xs:text-4xl xs:leading-[46px];
  }

  h2 {
    @apply text-6xl leading-[80px] xxl:text-5xl xxl:leading-[60px] xl:text-4xl xl:leading-[48px] md:text-3xl xs:text-2xl;
  }

  h3 {
    @apply text-[40px] leading-[45px] xxl:text-3xl xl:text-[26px] lg:text-[22px] xs:text-xl;
  }

  .gradient-forma {
    background: -webkit-linear-gradient(180deg, #38b6ff, #004aff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(0deg,
        #38b6ff,
        #004aff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  h4 {
    @apply text-4xl xxl:text-[27px];
  }

  h5 {
    @apply font-semibold text-[26px] xl:text-[22px] md:text-xl xs:text-lg md:leading-5;
  }

  a {
    @apply font-semibold;
  }

  p,
  div,
  span,
  a,
  button {
    @apply text-xl xl:text-base lg:text-[15px] sm:text-sm xs:text-xs;
  }

  .advantages-main {
    @apply text-TextLight text-xl xxl:text-[19px] xl:text-lg xl:leading-6 lg:text-[15px] flex items-center gap-xs lg:gap-xxxs sm:text-sm;
  }

  .advantages-main-image {
    @apply w-11 h-11 lg:w-10 lg:h-10 sm:w-8 sm:h-8 duration-300 hover:scale-125 md:hover:scale-100;
  }

  .timer-text {
    @apply font-semibold text-4xl xxl:text-[33px] xl:text-[28px] lg:text-2xl md:text-xl;
  }

  .container {
    @apply px-16 xl:px-9 lg:px-4 sm:px-xxxs gap-md lg:gap-xs xs:gap-xxxs;
  }

  section:not(:first-child) {
    @apply py-32 xl:py-24 lg:py-16 sm:py-12;
  }

  .rotate-page {
    transform: rotateY(180deg) translateZ(1px);
  }

  .page-side {
    transform: translateZ(1px);
  }

  .service-item:hover .service-link {
    @apply scale-110 w-14 bg-AccentDark text-TextLight lg:w-11 sm:w-7 sm:bg-transparent sm:text-TextDark sm:scale-100;
  }

  .service-item:hover .service-icon {
    @apply bg-AccentDark;
  }

  .service-item:hover .service-link_white {
    @apply bg-white text-TextDark sm:bg-transparent sm:text-TextLight;
  }

  .faq-rewiew {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .faq-rewiew::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .input-style {
    @apply py-xxs pl-[25px] text-lg lg:py-xxxs lg:pl-xxs lg:text-base border-2 border-black focus:outline-none rounded-full text-TextDark;
  }

  .next-section-btn:hover .bounce {
    -moz-animation: bounce 1.2s infinite;
    -webkit-animation: bounce 1.2s infinite;
    animation: bounce 1.2s infinite;
  }

  .scrolling-wrapper {
    display: flex;
    gap: 1rem;
    animation: scroll 20s linear infinite;
  }

  .item {
    flex: 0 0 auto;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(-8px);
    }

    60% {
      transform: translateY(-5px);
    }
  }

  @keyframes slideFromTop {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slide-in {
    animation: slideFromTop 0.2s ease-out forwards;
  }
}